---

---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/index2/">Tags</a>
  <a href="https://docs.astro.build/en/tutorial/0-introduction/" target="_blank"
    >Original Instructions</a
  >
</div>
